@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
   <footer>
    <div class="socialmedia">
        <ExternalLinkIcon link="https://facebook.com" icon="fa-brands fa-facebook-f" />
        <ExternalLinkIcon link="https://instagram.com" icon="fa-brands fa-instagram" />
        <ExternalLinkIcon link="https://twitter.com" icon="fa-brands fa-twitter" />
        <ExternalLinkIcon link="https://google.com" icon="fa-brands fa-google" />
        <ExternalLinkIcon link="https://linkedin.com" icon="fa-brands fa-linkedin" />
       
    </div>
        <p class="text-bottom">@Model.Value("footerText")</p>
    </footer>