@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

   
<showcase1 class='showcase'>
<div class="container-fluid">
<img src="/Images/Left-girl.svg" alt="" />
    <div class='middle'>
        <h1 class='sale'>@Model.Value("pageTitle") </h1> 
        <p class='free'>@Model.Value("pageDescription")</p>
        <button class='shop-btn'>@Model.Value("textButton")</button>
    </div>
<img src="/Images/RIght-boy.svg" alt="" />
</div>
</showcase1>


	